
.app-header {
    align-items: center;
}

.app-header h1 {
    flex-grow: 1;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
    margin: 0;
}

@media (max-width: 400px) {
    .app-header {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }
    .search-panel .search-input {
        width: 90%;
    }
}